/* Variables for colors */
$online-dot: var(--online-dot);
$dnd-dot: var(--dnd-dot);
$idle-dot: var(--idle-dot);
$txt-3: var(--txt-3);
$streaming-dot: var(--streaming-dot);
$bg-0: var(--bg-0);

/* Unrounding */
::-webkit-scrollbar-thumb,
* {
  border-radius: 0 !important;
}

/* Hide round masks */
[class^='listItem_'] [class^='wrapper_'] > [class^='svg_'] > mask,
[class^='bannerSVGWrapper_'] > mask > circle {
	display: none;
}

[class^='mask_'] > foreignObject,
[class^='svg_'] > foreignObject {
	mask-image: none;
}

.overlay__75742:after,
.overlay_c0bea0:after {
	border-radius: 0;
}

/* hide status indicators */
[class^='mask_'] > rect,
[class^='mask_'] > circle,
[class^='mask_'] > svg {
	display: none;
}

/* Re-add status indicators */
.wrapper__44b0c:has(rect)::after {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  bottom: -4px;
  right: -4px;
  border: 2px solid $bg-0; 
}

.wrapper__44b0c:has(rect[fill='#23a55a'])::after {
  background: $online-dot !important;
}

.wrapper__44b0c:has(rect[fill='#f23f43'])::after {
  background: $dnd-dot !important;
}

.wrapper__44b0c:has(rect[fill='#f0b232'])::after {
  background: $idle-dot !important;
}

.wrapper__44b0c:has(rect[fill='#80848e']) {
  background: $txt-3 !important;
}

.wrapper__44b0c:has(rect[fill='#593695'])::after {
  background: $streaming-dot;
}

/* Fix server list badges */
[class^='lowerBadge_'] {
  border: 2px solid $bg-0;
  bottom: -4px;
  right: -4px;
}

[class^='upperBadge_'] {
  border: 2px solid $bg-0;
  top: -4px;
  right: -4px;
}
