@media (max-width: 1100px) {
  [class*=sidebar_] {
    width: 200px;
  }
  [class*=sidebar_] .vc-typing-indicator,
  [class*=sidebar_] .vc-channelemojis-emoji,
  [class*=sidebar_] [class*=guildIconV2Container_] {
    display: none;
  }
  [class*=sidebar_] [class*=containerDefault_] [role=img] {
    display: none;
  }
  [class*=chat_] [class*=membersWrap_] {
    display: none;
  }
}