.vc-ranb-button .contents_dd4f85 {
  visibility: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vc-ranb-button .contents_dd4f85::before {
  content: "煮 Read";
  font-family: var(--font), "gg sans", "tabler-icons";
  visibility: visible;
  font-style: normal;
  font-weight: 600;
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
}
.vc-ranb-button .contents_dd4f85:hover::before {
  color: var(--brand-experiment) !important;
}